<div class="container mx-auto p-7">
  <h1 class="text-5xl text-slate-900 mb-3">
    Welcome to
    <span class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-emerald-600 to-emerald-400">
      Viable
    </span>
  </h1>
  <p class="text-xl text-slate-700">Viable helps prefigurative autonomous organizations become more effective by using the Viable System Model.</p>

  <p>So far, all systems defined:</p>
  <%= inspect(@system_json) %>
</div>
